//vars
$tooltipBackgroundColor: #eaeaea;
$errorColor: #ff0000;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.form-layout {
  width: 1169px;
  height: 758px;

  margin: auto;

  box-shadow: 0 0 5px black;

  background: #fff;

  &__content {
    padding: 90px 0 0 90px;
    font-family: Arial, sans-serif;
  }

  &__status-wrapper {
    width: 737px;
    height: auto;

    margin-bottom: 32px;

    padding-left: 10px;

    display: flex;
    flex-direction: column;
  }

  &__container1 {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4px;
  }

  &__greeting {
    margin: 0;

    color: #666;

    font-size: 30px;
    line-height: 34px;

    &-highlight {
      color: #000;
      font-weight: bold;
    }
  }

  &__status-change {
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    align-self: flex-end;
    padding-right: 9px;

    &:hover {
      cursor: pointer;
    }

    &-content {
      color: #0c77bb;
      border-bottom: 1px dashed #0c77bb;
    }
  }

  &__container2 {
    display: flex;
    justify-content: flex-end;
  }

  &__status-tooltip {
    width: 503px;
    height: 53px;
  }

  &__rectangle {
    position: relative;
    z-index: 10;
    padding: 12px 0px 8px 12px;
    margin-top: 7px;

    height: 46px;

    background-color: $tooltipBackgroundColor;

    &-content {
      width: 347px;
      height: 26px;

      border: none;

      line-height: 22px;

      font-size: 14px;
      background-color: $tooltipBackgroundColor;

      &:focus {
        outline: 0;
      }
    }
  }

  &__rectangle2 {
    position: absolute;
    width: 11px;
    height: 11px;

    background-color: $tooltipBackgroundColor;
    left: 8px;
    top: -5.5px;

    transform: rotate(45deg);
  }

  &__form {
    .form-layout__input-wrapper[id="passwordAgain"] {
      height: 46px;

      margin-bottom: 0;

      .form-layout__field-promt {
        align-self: flex-end;
      }
    }

    .form-layout__input-wrapper[id="isAgree"] {
      .form-layout__input {
        width: 236px;
      }

      .form-layout__input-block {
        display: flex;
        height: auto;
      }

      .form-layout__input-box {
        width: 12px;
        align-self: center;
      }

      .form-layout__field-promt {
        margin-left: 10px;

        color: #000;

        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__select-wrapper {
    padding-left: 10px;
    width: 569px;

    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-size: 21px;
    line-height: 19px;

    color: #000;
    align-self: center;
  }

  &__select {
    width: 336px;
    padding: 6px 0px 6px 12px;

    color: #000;

    font-size: 16px;
    line-height: 19px;
  }

  &__line {
    width: 990px;
    height: 1px;

    border: none;
    background-color: #e5e4e4;

    margin: 32px 0;
  }

  &__input-wrapper {
    padding-left: 10px;
    display: flex;

    margin-bottom: 40px;
  }

  &__input {
    width: 559px;
    height: 31px;
    display: flex;
    justify-content: space-between;
  }

  &__input-box {
    width: 336px;

    padding: 6px 0px 6px 12px;
  }

  &__input-block {
    height: 55px;
  }

  &__field-promt {
    margin: 0;
    margin-left: 18px;

    font-size: 12px;
    line-height: 20px;

    color: #999;
    align-self: center;

    white-space: pre-wrap;
  }

  &__error {
    border: 1px solid $errorColor;
  }

  &__error-message {
    padding-top: 4px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;

    color: $errorColor;
  }

  &__button-wrapper {
    padding-left: 234px;
    display: flex;

    .form-layout__field-promt {
      margin-left: 12px;
    }
  }

  &__button-submit {
    width: 119px;
    height: 40px;
    padding: 10px 17.44px;

    color: #fff;
    background-color: #71c838;

    font-size: 18px;
    line-height: 20px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
